/* this is my css */

body {
  background-color: #097;
  font-family: 'Futura', sans-serif;
  margin: 0; 
  padding: 0;}

h2 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 20 20px 0;}

form {
  padding: 0 20px 20px 20px;
  text-align: center;
